.wrap {
  border-radius: 12px;
  box-shadow: 0 10px 15px lightgray;
  padding: 10px;
  text-align: center;
  margin: 7vw 7vh;
  height: 100vh;
}

.loginbox {
  display: flex;
  justify-content: center;
  padding: 0 auto;
  height: 7vh;
  margin: 13vw 7vh;
  border-radius: 12px;
  font-family: "Dongle", sans-serif;
  text-size-adjust: auto;
}

.logoBox {
  padding: 5vw;
  border-radius: 12px;
  display: flex;
  margin: 12vw;
  box-shadow: 0 5px 10px lightgray;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
