.wrap {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info {
  margin: 0 auto;
  margin-top: 3vh;
}
.container {
  margin: 0 auto;
  margin-top: 3vh;
}
.postBox {
  display: flex;
  flex-direction: column;

  .postDiv {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f87d09;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    .postItem {
      &:visited {
        text-decoration: none;
        color: black;
      }

      &:link {
        text-decoration: none;
        color: black;
      }
    }
    .author {
      font-size: small;
    }
  }
}

.addSpan {
  cursor: pointer;
  position: absolute;
  left: 79%;
  top: 20%;
  width: fit-content;
}

.addLink {
  cursor: pointer;
  position: absolute;
  left: 79%;
  top: 20%;
  width: fit-content;

  &:visited {
    text-decoration: none;
    color: black;
  }

  &:link {
    text-decoration: none;
    color: black;
  }
}
